* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.body {
  background-color: #faf6eb;
}
h1.pageTitle {
  font-family: cartoon;
  font-size: 5rem;
  color: #fd8a09;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #373634;
  width: 100%;
}

.navbar-burger {
  display: flex;
  color: #fd8a09;
  margin: 0.5rem 1rem;
}

.navbar-burger a {
  width: 100%;
}
.header-title {
  font-size: 1.5rem;
  margin: 1rem;
  color: #ff6d00;
  font-weight: bold;
}

.navbar-links {
  display: none;
  color: #ffbe0b;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .navbar-burger {
    display: none;
  }
  .navbar-links {
    display: flex;
    font-size: 1rem;
  }

  .navbar-links li {
    list-style: none;
  }
  .navbar-links li a {
    padding: 0.75rem;
    /* display: flex; */
  }
}

@media only screen and (min-width: 1000px) {
  .navbar-links li Link {
    padding: 1rem;
  }
}

@font-face {
  font-family: "cartoon";
  src: url("./fonts/CartoonBlocks.ttf") format("truetype");
}
