* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffffe6;
  width: 100%;
  padding: 0 2rem;
  /* border-bottom: 2px solid #f7e05f; */
}

.navbarBurger {
  display: flex;
  color: black;
  margin: 0.5rem 1rem;
}

.navbarBurger a {
  width: 100%;
}

.navbarLinks {
  display: none;
  color: black;
}

.navbarLinks a:hover,
a:active {
  color: #1a27c9;
  text-decoration: underline;
  /* font-weight: bold; */
}

.logo {
  font-size: 2rem;
  color: #1a27c9;
  font-weight: bold;
  padding: 2rem 0;
  font-family: cartoon;
}

/* .header-title {
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
  padding: 2rem 0;
  line-height: 0;
} */

.sectionColorContainer {
  background-color: #f7e05f;
  width: 100%;
}

.sectionContainer {
  width: 100%;
}

.sectionTitle {
  margin: 3rem 0 0;
  font-family: cartoon;
  font-size: 4rem;
  color: black;
  padding: 1rem;
}

.sectionPara {
  margin: 2rem 0;
}

.contactForm {
  display: flex;
  flex-direction: column;
}

.contactForm button {
  background-color: #1a27c9;
  color: white;
}
/* 
p1 {
  font-size: 200%;
} */

.logoContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  /* align-items: flex-start; */
  column-gap: 20px;
  row-gap: 10px;
  margin: 0 2rem;
}

.skillLogo {
  height: 5rem;
  width: 5rem;
}

@media only screen and (min-width: 768px) {
  .navbarBurger {
    display: none;
  }
  .navbarLinks {
    display: flex;
    font-size: 1rem;
  }

  .navbarLinks li {
    list-style: none;
  }
  .navbarLinks li a {
    padding: 0.75rem;
    /* display: flex; */
  }
}

@media only screen and (min-width: 1000px) {
  .navbarLinks li Link {
    padding: 1rem;
  }
}

@font-face {
  font-family: "cartoon";
  src: url("./assets/fonts/CartoonBlocks.ttf") format("truetype");
}
